In [1]:
import pandas as pd 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
from pandas import get_dummies

In [2]:
df  = pd.read_csv("final.csv")
df

,Unnamed: 0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_ANNUITY,AMT_INCOME_TOTAL,AMT_GOODS_PRICE,DAYS_EMPLOYED,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,...,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,AMT_CREDIT_SUM_OVERDUE,AMT_CREDIT_MAX_OVERDUE,SK_DPD,SK_DPD_CARD
0,0,100002,1,0,24700.5,202500.0,351000.0,-637,1.0,2,...,0,0,0,0,0,0,0.0,8405.145,0.0,0.0
1,1,100003,0,0,35698.5,270000.0,1129500.0,-1188,2.0,1,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
2,2,100004,0,0,6750.0,67500.0,135000.0,-225,1.0,2,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
3,3,100006,0,0,29686.5,135000.0,297000.0,-3039,2.0,2,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
4,4,100007,0,0,21865.5,121500.0,513000.0,-3038,1.0,2,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305230,305230,456251,0,0,27558.0,157500.0,225000.0,-236,1.0,1,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
305231,305231,456252,0,0,12001.5,72000.0,225000.0,365243,1.0,2,...,0,0,0,0,0,1,0.0,0.000,0.0,0.0
305232,305232,456253,0,0,29979.0,153000.0,585000.0,-7921,1.0,3,...,0,0,0,0,0,0,0.0,0.000,5.0,0.0
305233,305233,456254,1,0,20205.0,171000.0,319500.0,-4786,2.0,2,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
305234,305234,456255,0,0,49117.5,157500.0,675000.0,-1262,2.0,1,...,0,0,0,0,0,0,0.0,60282.405,5.0,0.0

In [3]:
df.shape

(305235, 122)

In [4]:
df.isnull().values.sum()

300

In [5]:
df.isnull().values.any()

True

In [6]:
#the dataset has 1 404 419 of nan values

In [7]:
df.info

<bound method DataFrame.info of         Unnamed: 0  SK_ID_CURR  TARGET  CNT_CHILDREN  AMT_ANNUITY  \
0                0      100002       1             0      24700.5
1                1      100003       0             0      35698.5
2                2      100004       0             0       6750.0
3                3      100006       0             0      29686.5
4                4      100007       0             0      21865.5
...            ...         ...     ...           ...          ...
305230      305230      456251       0             0      27558.0
305231      305231      456252       0             0      12001.5
305232      305232      456253       0             0      29979.0
305233      305233      456254       1             0      20205.0
305234      305234      456255       0             0      49117.5

        AMT_INCOME_TOTAL  AMT_GOODS_PRICE  DAYS_EMPLOYED  CNT_FAM_MEMBERS  \
0               202500.0         351000.0           -637              1.0
1               270000.0        1129500.0          -1188              2.0
2                67500.0         135000.0           -225              1.0
3               135000.0         297000.0          -3039              2.0
4               121500.0         513000.0          -3038              1.0
...                  ...              ...            ...              ...
305230          157500.0         225000.0           -236              1.0
305231           72000.0         225000.0         365243              1.0
305232          153000.0         585000.0          -7921              1.0
305233          171000.0         319500.0          -4786              2.0
305234          157500.0         675000.0          -1262              2.0

        REGION_RATING_CLIENT  ...  ORGANIZATION_TYPE_Transport: type 1  \
0                          2  ...                                    0
1                          1  ...                                    0
2                          2  ...                                    0
3                          2  ...                                    0
4                          2  ...                                    0
...                      ...  ...                                  ...
305230                     1  ...                                    0
305231                     2  ...                                    0
305232                     3  ...                                    0
305233                     2  ...                                    0
305234                     1  ...                                    0

        ORGANIZATION_TYPE_Transport: type 2  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
...                                     ...
305230                                    0
305231                                    0
305232                                    0
305233                                    0
305234                                    0

        ORGANIZATION_TYPE_Transport: type 3  \
0                                         0
1                                         0
2                                         0
3                                         0
4                                         0
...                                     ...
305230                                    0
305231                                    0
305232                                    0
305233                                    0
305234                                    0

        ORGANIZATION_TYPE_Transport: type 4  ORGANIZATION_TYPE_University  \
0                                         0                             0
1                                         0                             0
2                                         0                             0
3                                         0                             0
4                                         0                             0
...                                     ...                           ...
305230                                    0                             0
305231                                    0                             0
305232                                    0                             0
305233                                    0                             0
305234                                    0                             0

        ORGANIZATION_TYPE_XNA  AMT_CREDIT_SUM_OVERDUE  AMT_CREDIT_MAX_OVERDUE  \
0                           0                     0.0                8405.145
1                           0                     0.0                   0.000
2                           0                     0.0                   0.000
3                           0                     0.0                   0.000
4                           0                     0.0                   0.000
...                       ...                     ...                     ...
305230                      0                     0.0                   0.000
305231                      1                     0.0                   0.000
305232                      0                     0.0                   0.000
305233                      0                     0.0                   0.000
305234                      0                     0.0               60282.405

        SK_DPD  SK_DPD_CARD
0          0.0          0.0
1          0.0          0.0
2          0.0          0.0
3          0.0          0.0
4          0.0          0.0
...        ...          ...
305230     0.0          0.0
305231     0.0          0.0
305232     5.0          0.0
305233     0.0          0.0
305234     5.0          0.0

[305235 rows x 122 columns]>

In [8]:
df = df.dropna()
df

,Unnamed: 0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_ANNUITY,AMT_INCOME_TOTAL,AMT_GOODS_PRICE,DAYS_EMPLOYED,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,...,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA,AMT_CREDIT_SUM_OVERDUE,AMT_CREDIT_MAX_OVERDUE,SK_DPD,SK_DPD_CARD
0,0,100002,1,0,24700.5,202500.0,351000.0,-637,1.0,2,...,0,0,0,0,0,0,0.0,8405.145,0.0,0.0
1,1,100003,0,0,35698.5,270000.0,1129500.0,-1188,2.0,1,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
2,2,100004,0,0,6750.0,67500.0,135000.0,-225,1.0,2,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
3,3,100006,0,0,29686.5,135000.0,297000.0,-3039,2.0,2,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
4,4,100007,0,0,21865.5,121500.0,513000.0,-3038,1.0,2,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305230,305230,456251,0,0,27558.0,157500.0,225000.0,-236,1.0,1,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
305231,305231,456252,0,0,12001.5,72000.0,225000.0,365243,1.0,2,...,0,0,0,0,0,1,0.0,0.000,0.0,0.0
305232,305232,456253,0,0,29979.0,153000.0,585000.0,-7921,1.0,3,...,0,0,0,0,0,0,0.0,0.000,5.0,0.0
305233,305233,456254,1,0,20205.0,171000.0,319500.0,-4786,2.0,2,...,0,0,0,0,0,0,0.0,0.000,0.0,0.0
305234,305234,456255,0,0,49117.5,157500.0,675000.0,-1262,2.0,1,...,0,0,0,0,0,0,0.0,60282.405,5.0,0.0

In [9]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
305230    False
305231    False
305232    False
305233    False
305234    False
Length: 304948, dtype: bool

In [10]:
sns.barplot(x=df["CODE_GENDER"] , y=df["TARGET"])

KeyError: 'CODE_GENDER'

In [ ]:
sns.barplot(x=df["NAME_CONTRACT_TYPE"] , y=df["TARGET"])

In [ ]:
sns.barplot(x=df["FLAG_OWN_REALTY"] , y=df["TARGET"])

In [ ]:
sns.barplot(x=df["CNT_CHILDREN"] , y=df["TARGET"])

In [ ]:
df

In [ ]:
X = df.drop(["TARGET" ], axis=1)
y = df.TARGET

In [11]:
#le = LabelEncoder()

In [12]:
#categ = ['CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY' , 'NAME_CONTRACT_TYPE' ,'NAME_TYPE_SUITE' , 'NAME_INCOME_TYPE' , 'NAME_EDUCATION_TYPE' , 'NAME_FAMILY_STATUS' , 'NAME_HOUSING_TYPE' , 'WEEKDAY_APPR_PROCESS_START' , 'OCCUPATION_TYPE' , 'ORGANIZATION_TYPE' , 'FONDKAPREMONT_MODE' , 'HOUSETYPE_MODE' , 'WALLSMATERIAL_MODE' ,'EMERGENCYSTATE_MODE' ]

In [14]:
#df[categ] = df[categ].apply(le.fit_transform)

In [15]:
df.to_csv("is_it_clean.csv")

In [ ]:
df

In [ ]:
df["TARGET"].value_counts().plot.pie()

In [ ]:
sns.heatmap(df.corr(), annot=True)